/* geral */
* {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #202124;
}

header {
    border-bottom: 1px solid white ;
    padding: 1rem 2rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#search-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#search-input {
    background-color: #525356;
    border-radius: 8px;
    border: none;
    padding: 10px;
    font-weight: bold;
    color: white;
    width: 400px;
}

#search-input::placeholder{
    color: #fff;
}

#export-notes {
    background-color: #333;
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    padding: 5px 15px;
    cursor: pointer;
    transition: 0.4s;
}

#export-notes:hover {
    background-color: #fff;
    color: #333;
}

#add-note-container {
    display: flex;
    width: 400px;
    margin: 1rem auto 0;
    gap: 1rem;
}

#add-note-container input,
#add-note-container button {
    padding: 10px;
    border-radius: 5px;
}

#add-note-container input {
    flex: 1;
    background-color: transparent;
    border: 1px solid #525356;
    color: #fff;
}

#note-content::placeholder {
    color: white
}

#add-note-container button {
    cursor: pointer;
    background-color: #333;
    color: #ffff;
}

/* Note */

#notes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    padding: 2rem;
    gap: 2rem;
}

.note {
    min-height: 200px;
    padding: 1rem;
    border: 1px solid #ccc;
    background-color: #202124a7;
    border-radius: 10px;
    color: #FFF;
    position: relative;
}

.note textarea {
    background-color: transparent;
    resize: none;
    color: #fff;
    border: none;
    height: 100%;
    outline: none;
}

.note .bi-pin {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
}

.note .bi-x-lg,
.note .bi-file-earmark-plus {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 0.9rem;
    padding: 5px;
    transition: 0.3s;
    color: white;
    cursor: pointer;
}
.note .bi-x-lg,
.note .bi-pin,
.note .bi-file-earmark-plus {
    opacity: 0;
}
.note:hover > i {
    opacity: 1;
}

.note .bi-x-lg:hover {
    background-color: rgba(128, 128, 128, 0.187);
    border-radius: 40px;
}
.note .bi-pin:hover {
    background-color: rgba(128, 128, 128, 0.187);
    border-radius: 40px;
}
.note .bi-file-earmark-plus:hover {
    background-color: rgba(128, 128, 128, 0.187);
    border-radius: 40px;
}


.note .bi-file-earmark-plus {
    top: 40px;
}